/* :w==========================================================================
 * Titel                  : Debug Helper Styleesheet
 * License                : GPL
 * Author                 : Thomas Weustenfeld
 * ==========================================================================
 */
 
div.debug-box {
  border: 1px solid gray;
  border-left: 10px solid #444444;
  margin: 5px 0;
  padding: 0px;
  background-color: #EEEEEE;
}

div.debug-box .debug-box-heading {
  font-weight: bold;
  font-size: 13px;
  padding-left: 6px;
}

div.debug-box .debug-box-heading a {
  margin-right: .3em;
  margin-top: -17px; /* HACK? */
  float: right;
}

div.debug-box .debug-box-content {
  border-top: 2px solid #444444;
  background-color: #F9F9F9;
  font-family: monospace;
/*  white-space: pre; */

	white-space: pre-wrap;       /* css-3 should we be so lucky... */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  font-size: 11px;
  line-height: 11px;
  padding: 3px;
}

h1#debug-heading {
  border-bottom: 2px solid black;
  background-color: #BBBBBB;
  text-align: center;
  font-family: "helvetica";
  font-size: 24px;
  height: 35px;
  line-height: 35px;
  color: #333333;
}

h3#debug-heading {
  margin: 1em 0 .5em 0;
}

div#debug-container {
  padding: 5px;
  margin: 0;
}

#debug {
  width: 60%;
  margin: 0 auto;
  background-color: #f3f3f3;
}

#debug pre {
  margin-top: 2px;
  margin-bottom: 7px;    
}

div#debug-container ul {
	margin: 0;
	padding: 0 1.6em;
}

li.debug-list-item {
  font-size: 11px;
  font-family: "Helvetica";
  margin: 0;
  padding: 2px;
}
li.debug-list-item.error {
  background-color: red;
  color: white;
}

#debug table.template-list {
 border-collapse: collapse; 	
 width: 90%;
 margin: 0 auto;
}
#debug table.template-list th {
  border: 1px solid #333;
  background-color: #333;
  color: white;
}
#debug table.template-list td {
  border: 1px solid #333;
  padding: 2px;
}
